/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
  --color-dark: #000808;
  --color-light: #fdfcf7;
  --color-primary: #50edf0;
  --color-secondary: #eed131;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-default);
  color: var(--color-light);
  background-color: var(--color-light);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 0.15em;
  }
}

nav {
  background-color: var(--color-dark);
  padding: 0.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a img {
  height: 3em;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 0.4em;
}

nav ul li a {
  position: relative;
  transition: color 0.3s ease-in-out;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.2em;
  background-color: var(--color-primary);
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
}
