/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
  --color-dark: #000808;
  --color-light: #fdfcf7;
  --color-primary: #50edf0;
  --color-secondary: #eed131;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-default);
  color: var(--color-light);
  background-color: var(--color-dark);
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9em;
  }

  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 0.15em;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 1.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  z-index: 1000;
}

nav a img {
  height: 3em;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 0.4em;
}

nav ul li a {
  color: var(--color-light);
  position: relative;
  transition: 0.6s;
  font-weight: bold;
}

nav ul li a:hover {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: var(--color-light);
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.15em;
  background-color: var(--color-light);
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
}

nav.sticky {
  padding: 0.5em;
  background-color: var(--color-dark);
}
/*--------------------------------------------------------------
# Inicio
--------------------------------------------------------------*/
#inicio {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#inicio .banner h1 {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
