/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
  --color-dark: rgba(0, 8, 8, 1);
  --color-light: rgba(253, 252, 247, 1);
  --color-primary: rgba(80, 237, 240, 1);
  --color-secondary: rgba(238, 209, 49, 1);
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/* Animacion */
@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-default);
  color: var(--color-light);
  background-color: var(--color-dark);
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

section {
  height: 100vh;
  width: 100%;
}
/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 1.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  z-index: 1000;
}

nav a img {
  height: 3em;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 0.4em;
}

nav ul li a {
  color: var(--color-light);
  position: relative;
  transition: 0.6s;
  font-weight: bold;
}

nav ul li a:hover {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: var(--color-light);
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.15em;
  background-color: var(--color-light);
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
}

nav.sticky {
  padding: 0.5em;
  background-color: var(--color-dark);
}

/* Hamburger Menu */
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    font-size: 1.5em;
  }

  nav ul {
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-dark);
    transition: max-height 0.8s ease;
  }

  nav ul li {
    display: block;
    margin: 1em;
  }

  nav ul li a {
    display: block;
    font-size: 1.2em;
    text-align: center;
  }

  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked ~ ul {
    max-height: 500px;
  }
}

/*--------------------------------------------------------------
# Inicio
--------------------------------------------------------------*/

#inicio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inicio .banner h1 {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 3em;
}

.outline-text {
  position: absolute;
  z-index: -1;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-light);
  font-size: 20em;
}

#inicio .animated {
  animation: slideInFromBottom 2s ease-in-out forwards;
}

#inicio .adn {
  animation: fadeIn 1s ease-in-out forwards;
}

@media (max-width: 728px) {
  .outline-text {
    font-size: 10em;
  }

  #inicio .banner h1 {
    font-size: 2.5em;
    margin: 0.8em;
  }
}

/*--------------------------------------------------------------
# Soluciones
--------------------------------------------------------------*/

#soluciones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.solucion {
  width: 30%;
  flex-basis: 30%;
  padding: 2em;
  margin: 0.5em 1em;
  list-style-type: none;
  border: 1px solid;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.solucion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 2;
  transition: height 0.3s ease;
}

.solucion:hover::before {
  height: 100%;
}

.solucion:hover {
  transform: scale(1.05) rotate(2deg);
}

.solucion h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solucion p {
  font-weight: 500;
}

@media (max-width: 1024px) {
  .solucion {
    flex-basis: 100%;
    margin: 1em 2em;
  }
}
